<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098086824093-1n823gtsmkknro342dkiq21773ntigtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098086824093-1n823gtsmkknro342dkiq21773ntigtv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098086824093-eb7gf5n8t9pv489ln4d7b6vl4q4dmihe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCW_y27w4tlFfojuX4DKaAWEg-PlBEkng4</string>
	<key>GCM_SENDER_ID</key>
	<string>1098086824093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altua.IOU</string>
	<key>PROJECT_ID</key>
	<string>iou-71bca</string>
	<key>STORAGE_BUCKET</key>
	<string>iou-71bca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098086824093:ios:bda47b64cc0b215104bc74</string>
</dict>
</plist>